<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Salsa Verde Chicken Wraps</key>
	<array>
		<string>1 bottle of Pace Salsa Verde</string>
		<string>1 pack of large flour tortillas</string>
		<string>2 breasts of chicken</string>
		<string>1 large red pepper</string>
		<string>1 large avocado</string>
		<string>1 pack of shredded lettuce</string>
		<string>1 large container of sour cream</string>
	</array>
	<key>Thai Chicken Tenders</key>
	<array/>
	<key>Sweet Apple Chicken Sausage Kabobs</key>
	<array/>
</dict>
</plist>
