<h2>Recipe Selector</h2>
<div class="container-fluid">
  <!--<div class="row"> -->
 <!--   <div class="col-md-2"> -->
      <!--Sidebar content-->
<!--
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="rating">Rating</option>
      </select>

    </div> -->
    <div class="col-md-10">
      <!--Body content-->

      <ul class="recipes">
        <!--| filter:query | orderBy:orderProp -->
        <li ng-repeat="recipe in recipes"
            class="thumbnail recipe-listing">
          <a href="#/recipes/{{recipe.id}}">
          <img ng-src="{{recipe.imageUrl}}">
          <span>Recipe name:{{recipe.name}}</span>
          <p>Recipe description:{{recipe.description}}</p></a>
        </li>
      </ul>

    </div>
  </div>
</div>