<h2>Recipe Selector</h2>
<div class="container-fluid">
  <!--<div class="row"> -->
 <!--   <div class="col-md-2"> -->
      <!--Sidebar content-->
<!--
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="rating">Rating</option>
      </sele

    </div> -->
    <div class="col-md-10">
      <!--Body content-->

      <table class="table table-striped recipes">
        <!--| filter:query | orderBy:orderProp -->
        <tr ng-repeat="recipe in recipes"
            class="thumbnail recipe-listing">
            <td>
                <a href="#/recipes/{{recipe.id}}">
                <img ng-src="{{recipe.imageUrl}}" width="300px">
                </a>
            </td>
            <td>
                <a href="#/recipes/{{recipe.id}}">
                <strong>{{recipe.name}}</strong>
                <p>{{recipe.description}}</p>
                </a>
            </td>
        </tr>
      </table>

    </div>
  </div>
</div>