<h2>Recipe Selector</h2>
<div class="container-fluid">
  <!--<div class="row"> -->
 <!--   <div class="col-md-2"> -->
      <!--Sidebar content-->
<!--
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="rating">Rating</option>
      </sele

    </div> -->
<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group">
        <!--| filter:query | orderBy:orderProp -->
        <a ng-repeat="recipe in recipes" href="#/recipes/{{recipe.id}}" class="list-group-item thumbnail recipe-listing">
            <table>
                <row>
                    <td>
                        <img ng-src="{{recipe.imageUrl}}" width="300px">
                    </td>
                    <td>
                        <strong>{{recipe.name}}</strong>
                        <p>{{recipe.description}}</p>
                    </td>
                </row>
            </table>
        </a>
    </div>
  </div>
</div>

</div>